@page
@model OffPlanner.Web.Pages.Countries

@{
    ViewData["Title"] = "Select Country";
}

<div>
    @foreach (var locale in Model.Locales)
    {
        <p><a href="@Url.Page("Suggestions", new { locale = locale.Identifier })">@locale.Name (@locale.Identifier)</a></p>
    }
</div>